.thumbnail {
    display: block;
    margin: 10px;    
    max-width: 30%;
    align-items: center;
    padding: 5px;
    background-color: none;
}

img {
    max-width: 95%;
    justify-content: center;
    border: 5px solid #1A1A1A;
    margin: auto;
}

.activeThumbnail{
    border: 5px solid blueviolet; 
    background-color: rgba(188, 129, 129, 0.5);
}

